@import url("https://cdn.syncfusion.com/ej2/material.css");

.sidebar,
.navbar,
.footer {
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
}
.nav-item,
.navbar,
.footer {
  z-index: 10000;
}

.e-dlg-center-center,
.e-quick-popup-wrapper.e-device {
  z-index: 1000000 !important;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* color-picker style  */

#preview {
  background: transparent
    url("https://ej2.syncfusion.com/react/demos/src/color-picker/images/pen.png")
    no-repeat;
  display: inline-block;
  height: 80px;
  margin: 10px 0;
  min-width: 300px;
  max-width: 600px;
  background-color: #008000;
}

.e-input-group:not(.e-float-icon-left),
.e-input-group.e-success:not(.e-float-icon-left),
.e-input-group.e-warning:not(.e-float-icon-left),
.e-input-group.e-error:not(.e-float-icon-left),
.e-input-group.e-control-wrapper:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-warning:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left) {
  border: none;
}

/* GRID */
.dark .e-grid,
.dark .e-grid .e-gridheader,
.dark .e-grid .e-headercell,
.dark .e-grid .e-headercelldiv,
.dark .e-grid .e-gridpager,
.dark .e-grid .e-pagercontainer,
.dark .e-grid .e-gridpager .e-prevpagedisabled,
.dark .e-grid .e-gridpager .e-prevpage,
.dark .e-grid .e-gridpager .e-nextpage,
.dark .e-grid .e-gridpager .e-nextpagedisabled,
.dark .e-grid .e-gridpager .e-lastpagedisabled,
.dark .e-grid .e-gridpager .e-lastpage,
.dark .e-grid .e-gridpager .e-firstpage,
.dark .e-grid .e-gridpager .e-firstpagedisabled,
.dark .e-grid .e-gridpager .e-numericitem,
.dark .e-grid .e-toolbar-items,
.dark .e-grid .e-toolbar .e-btn,
.dark .e-grid .e-filterbarcell,
.dark .e-grid .e-filterbarcell .e-input-group input.e-input,
.dark .e-grid .e-filterbarcell .e-input-group.e-input-focus::after,
.dark .e-grid .e-filterbarcell .e-input-group.e-input-focus::before,
.dark .e-grid .e-filterbarcell .e-input-group .e-clear-icon::before,
.dark
  .e-grid
  .e-toolbar-items
  .e-toolbar-item
  .e-search
  .e-input
  .dark
  .e-grid
  .e-filterbar
  .e-textbox,
.dark .e-grid .e-gridcontent .e-rowcell,
.dark .e-grid .e-gridcontent .e-emptyrow td {
  background-color: #33373e;
  color: #fff;
}

.dark .e-grid .e-gridcontent .e-rowcell.e-selectionbackground {
  background-color: #eee;
  color: #000;
}

.e-grid .e-gridpager .e-currentitem,
.dark .e-grid .e-gridpager .e-currentitem {
  background-color: teal;
}

/* RADIO */
.e-default .e-radio:checked + label::after {
  /* csslint allow: adjoining-classes */
  background-color: teal;
  border-color: teal;
}

.e-default .e-radio:checked:focus + label::after,
.e-default .e-radio:checked + label:hover::after {
  /* csslint allow: adjoining-classes */
  background-color: teal;
  border-color: teal;
}

.e-default .e-radio:checked + label::before {
  border-color: teal;
}

.e-default .e-radio:checked:focus + label::before,
.e-default .e-radio:checked + label:hover::before {
  /* csslint allow: adjoining-classes */
  border-color: teal;
}

.e-default .e-radio + label:hover::before {
  border-color: #b1afaf;
}

.e-default.e-radio-wrapper {
  margin-left: 1rem;
  margin-right: 1rem;
}

.dark .e-radio-wrapper .e-label {
  --tw-text-opacity: 1;
  color: rgb(249 250 251 / var(--tw-text-opacity));
}

/* COMBOBOX */
.dark .e-ddl.e-input-group input.e-input,
.dark .e-ddl.e-input-group input.e-input::placeholder,
.dark .e-ddl.e-input-group span.e-clear-icon,
.dark .e-ddl.e-input-group span.e-ddl-icon,
.dark .e-ddl.e-input-group span.e-ddl-icon:hover {
  --tw-text-opacity: 1;
  color: rgb(249 250 251 / var(--tw-text-opacity));
}

/* RICHTEXTEDITOR */
.dark .e-richtexteditor {
  border: 1px solid #fff;
  box-shadow: 0px 4px 3px rgb(37, 35, 35);
}

.dark .e-richtexteditor .e-toolbar-wrapper .e-toolbar,
.dark .e-richtexteditor .e-toolbar-wrapper .e-toolbar .e-toolbar-items,
.dark
  .e-richtexteditor
  .e-toolbar-wrapper
  .e-toolbar
  .e-toolbar-item
  .e-tbar-btn,
.dark
  .e-richtexteditor
  .e-toolbar-wrapper
  .e-toolbar
  .e-toolbar-item
  .e-tbar-btn
  .e-btn-icon,
.dark .e-richtexteditor .e-rte-content {
  background-color: #33373e;
  color: #fff;
}

.dark
  .e-richtexteditor
  .e-toolbar-wrapper
  .e-toolbar
  .e-toolbar-item
  .e-tbar-btn
  .e-btn-icon:hover {
  background-color: #fff;
  color: #000;
}

.dark .e-richtexteditor .e-rte-content {
  border-top: 1px solid #fff;
}